@using BanMoHinh.Share.Models
@using BanMoHinh.Share.ViewModels
@using Newtonsoft.Json
@{
    ViewData["Title"] = "BanHang";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
    <script src="~/file/admin/banquay/bantaiquay.js"></script>
    var lsthdcho = ViewData["lsthdcho"] as List<Order>;

    // var loginInfor = new LoginViewModel();
    // string? session = Context.Session.GetString("LoginInfor");
    // if (session != null)
    // {
    //     loginInfor = JsonConvert.DeserializeObject<LoginViewModel>(Context.Session.GetString("LoginInfor"));
    // }
    <style>
        #resultsp {
            position: absolute;
            width: 100%;
            max-width: 400px;
            cursor: pointer;
            overflow-y: auto;
            max-height: 400px;
            box-sizing: border-box;
            z-index: 1001;
            padding-top: 20px;
            background: #e1e3e6 !important;
            display: none;
        }

        #sptk {
            background: #fff;
        }

            #sptk:hover {
                border: 2px solid #4154f1;
                background: #cce2fd;
                border-radius: 5px;
            }
    </style>
}
<div class="d-flex flex-row align-items-stretch" style="background: #f0f1f3">
    <!--Hiển thị giỏ hàng-->
    <div class="d-flex flex-column align-items-stretch flex-grow-1">
        <div class="d-flex flex-row bg-primary text-white w-100 flex-shrink-1" style="background:#5372F0;height:50px;">
            <!--Hiển thị danh sách hóa đơn chờ-->
            <div class="tabbill">
                <div class="icon me-auto"><i id="left" class="fa-solid fa-angle-left"></i></div>
                @if (lsthdcho != null)
                {
                    <ul class="tabs-box">
                        @{
                            var index = 1;
                            foreach (var item in lsthdcho)
                            {
                                if (item.OrderStatus.OrderStatusName == "Hoá đơn nháp")
                                {
                                    <li class="tab" onclick="gethdct('@item.Id')">
                                        <span value="@item.Id">
                                            <a>Hoá đơn @index</a>
                                            <a style="padding-left: 10px;" onclick="deleteHDCho('@item.Id')"><i class="fas fa-times"></i></a>
                                        </span>
                                    </li>
                                    index++;
                                }
                                else
                                {
                                    <li class="tab" onclick="gethdct('@item.Id')">
                                        <span value="@item.Id">
                                            <a>@item.Description</a>
                                            <a style="padding-left: 10px;" onclick="deleteHDCho('@item.Id')"><i class="fas fa-times"></i></a>
                                        </span>
                                    </li>
                                }

                            }
                        }
                    </ul>
                }
                <div class="icon ms-auto"><i id="right" class="fa-solid fa-angle-right"></i></div>
            </div>
            <!--Tạo mới-->
            <div class="ms-auto align-content-center">
                <div class="btn-create d-flex align-items-center">
                    <button type="button" onclick="addHDCho()" class="btn btn-success d-flex align-items-center ms-auto" title="Thêm mới">
                        <span>Tạo hóa đơn</span>
                        <i class="bi bi-plus-circle ms-2"></i>
                    </button>
                </div>
            </div>
        </div>

        <!--Hiển thị hóa đơn chi tiết-->
        <div class="d-flex flex-column p-2 mx-3 mt-3 border-0 rounded-3 flex-grow-1 bg-white" style="height:640px;">
            <div class="d-flex flex-column p-2">
                <div id="partialGioHang">
                </div>
            </div>
        </div>
    </div>
    <!--Sản phẩm-->
    <div class="d-flex flex-column align-items-stretch">
        <!--Tìm kiếm sản phẩm-->
        <div class="d-flex flex-row bg-primary text-white w-100" style="height:50px;">
            <div class="d-flex justify-content-start">
                <div class="search-product d-flex align-items-center">
                    <div class="search-bar">
                        <form class="search-form d-flex align-items-center">
                            <input type="text" name="query" autocomplete="off" id="searchsp" placeholder="Tìm kiếm sản phẩm" title="Enter search keyword">
                            <button title="Tìm kiếm" style="pointer-events:none"><i class="bi bi-search"></i></button>
                        </form>
                        <div>
                            <ul class="list-group p-2 bg-light mt-2" id="resultsp">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Quét QR-->
            <div class="d-flex align-content-center">
                <div class="d-flex align-items-center">
                    <button type="button" onclick="scanQRCode()" class="btn btn-primary d-flex align-items-center ms-auto" title="Quét mã vạch">
                        <i class="bx bx-barcode-reader"></i>
                    </button>
                </div>
            </div>
            <!--Lọc-->
            <div class="d-flex me-auto align-content-center">
                <div class="btn-filter d-flex align-items-center">
                    <button type="button" onclick="showFilter()" class="btn btn-primary d-flex align-items-center ms-auto" title="Lọc sản phẩm">
                        <i class="bx bx-filter-alt"></i>
                    </button>
                </div>
            </div>
            <!--Sắp xếp-->
            @*<div class="d-flex flex-column justify-content-center p-1 w-100" style="font-size:14px; ">
            <div class="form-check form-switch bg-white rounded-5">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Tăng</label>
            </div>
            </div>*@
        </div>
        <!--Hiển thị sản phẩm-->
        <div class="d-flex flex-column p-2  mt-3 border-0 rounded-3 bg-white" style="height:640px">
            <ul class="product-list">
            </ul>
            <div class="d-flex flex-row bg-light mt-auto" style="justify-content:center">
                <ul id="pagingsp" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/html5-qrcode"></script>
<script>
    var pageSizesp = 10;// Tối đa 10sp 1 trang
    var pageIndexsp = 1;//Trang ban đầu
    $(document).ready(function () {
        loadsp();
        //if (@lsthdcho.Count == 0) {
        //    addHDCho();
        //}
        activeTab(0);
        $(function () {
            $(document).on("click", ".tab", function (e) {
                e.preventDefault();
                $(".tab").removeClass("active");
                $(this).addClass("active");
            });
        });
        $("#resultsp").css("display", "none");
    })
    //TabActive
    function activeTab(index) {
        var allTabs = $(".tabs-box .tab");
        if (allTabs.length !== 0 && index == 0) {
            var tab = allTabs.first();
            var elementValue = tab.find("span").attr("value");
            gethdct(elementValue);
            tab.addClass("active");
        } else if (index == 1) {
            var tab = allTabs.last();
            var elementValue = tab.find("span").attr("value");
            gethdct(elementValue);
            tab.addClass("active");
        }
    }

    //LoadDSSanPham
    function loadsp() {
        $.ajax({
            url: "/BanTaiQuay/LoadSp",
            type: "GET",
            data: {
                page: pageIndexsp,
                pagesize: pageSizesp,
            },
            dataType: "json",
            success: function (response) {
                $(".product-list").empty();
                for (let i = 0; i < response.data.length; i++) {
                    $(".product-list").append(`
                                                                    <li class="product-item d-flex flex-row" onclick="showSPDetail('${response.data[i].id}')">
                                                                            <div class="product-img">
                                                                                <img src="/img/product/${response.data[i].anh}" class="img-fluid rounded-start" alt="..." style="width:70px;height:80px">
                                                                            </div>
                                                                            <div class="product-detail d-flex flex-column flex-grow-1">
                                                                                <span class="product-name mt-1">${response.data[i].ten}</span>
                                                                                <div class="product-infor mt-auto">
                                                                                    <span style="flex-basis:100%"><b style="color:blue;font-size:14px; font-weight:700">${Intl.NumberFormat().format(response.data[i].giaBan)}</b></span>

                                                                                </div>
                                                                            </div>
                                                                    </li>
                                                                    `);
                }
                pagingsp(response.total, function () {
                    loadsp();
                });
            },
            error: function (err) {
                console.log('Error:', err);
            }
        });
    }
    //Phân trang sp
    function pagingsp(totalrow, callback) {
        var totalgages = Math.ceil(totalrow / pageSizesp);
        $("#pagingsp").twbsPagination({
            totalPages: totalgages,
            visiblePages: 5,
            startPage: 1,
            first: 'Đầu',
            last: 'Cuối',
            prev: 'Trước',
            next: 'Tiếp',
            onPageClick: function (event, page) {
                pageIndexsp = page;
                setTimeout(callback, 200);
            }
        });
    }
</script>


