@using BanMoHinh.Share.Models;
@using System.Linq;
@using BanMoHinh.Share.ViewModels;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model IEnumerable<BanMoHinh.Share.ViewModels.ProductVM>;
@{

    List<ProductDetailVM> productDetail = ViewData["productDetail"] as List<ProductDetailVM>;
    List<ProductImage> ProductImage = ViewData["ProductImage"] as List<ProductImage>;

    var productCategory = ViewData["productCategory"] as List<SelectListItem>;
    var SelectedCategory = ViewBag.SelectedCategories as Guid?[];
    Guid[] selectedCategoryIds = SelectedCategory?.Select(x => x.Value).ToArray();

    var productBrand = ViewData["productBrand"] as List<SelectListItem>;
    var SelectedBrand = ViewBag.SelectedBrand as Guid?[];
    Guid[] selectedBrandIds = SelectedBrand?.Select(x => x.Value).ToArray();


    var productMaterial = ViewData["productMaterial"] as List<SelectListItem>;
    var SelectedMaterial = ViewBag.SelectedBrand as Guid?[];
    Guid[] selectedMaterialIds = SelectedMaterial?.Select(x => x.Value).ToArray();

}
@*Lưu trạng thái khi lọc*@
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var sortOrder = document.getElementById('sortOrder');
        var savedValue = sessionStorage.getItem('selectedValue');

        if (savedValue) {
            sortOrder.value = savedValue;
        }

        sortOrder.addEventListener('change', function() {
            sessionStorage.setItem('selectedValue', this.value);
            this.form.submit();
        });
    });
</script>
@*có gì viết xuống đây nha*@
<form method="get" action="@Url.Action("ListProduct")" id="filterForm">
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <!-- sidenav-section -->
                <div id="cssmenu">
                    <ul>
                        <li class="has-sub">
                            <a href="#">Hãng sản xuất</a>
                            <ul>
                                @foreach (var item in productBrand)
                                {
                                    <li class="even">
                                        <label>
                                            <input type="checkbox" name="SelectedBrand" value="@item.Value" @(selectedBrandIds != null && selectedBrandIds.Select(x => x.ToString()).Contains(item.Value) ? "checked='checked'" : "")>
                                            <span class="checkbox-list">@item.Text</span>
                                        </label>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="#">Loại Sản phẩm</a>
                            <ul>
                                @foreach (var item in productCategory)
                                {
                                    <li class="even">
                                        <label>
                                            <input type="checkbox" name="SelectedCategory" value="@item.Value" @(selectedCategoryIds != null && selectedCategoryIds.Select(x => x.ToString()).Contains(item.Value) ? "checked='checked'" : "")>
                                            <span class="checkbox-list">@item.Text</span>
                                        </label>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="#">Chất liệu</a>
                            <ul>
                                @foreach (var item in productMaterial)
                                {
                                    <li class="even">
                                        <label>
                                            <input type="checkbox" name="SelectedMaterial" value="@item.Value" @(selectedMaterialIds != null && selectedMaterialIds.Select(x => x.ToString()).Contains(item.Value) ? "checked='checked'" : "")>
                                            <span class="checkbox-list">@item.Text</span>
                                        </label>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="#">Giá Bán</a>
                            <ul>
                                <li class="even">
                                    <div class="filter-content collapse show" id="collapse_3">
                                        <div class="inner">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Min</label>
                                                    <input class="form-control" placeholder="0đ" name="minPrice" type="number" min="0" value="">
                                                </div>
                                                <div class="form-group text-right col-md-6">
                                                    <label>Max</label>
                                                    <input class="form-control" placeholder="10 000đ" name="maxPrice" type="number" min="0" value="">
                                                </div>
                                            </div> <!-- form-row.// -->
                                        </div> <!-- inner.// -->
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <button class="btn btn-block btn-primary">Apply</button>
                    </ul>
                </div>
                <!-- /.sidenav-section -->
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb10 alignright">
                        <form asp-controller="Product" asp-action="Filter" method="get">
                            <div class="select-option form-group">
                                <select id="sortOrder" name="sortOrder" class="form-control" placeholder="Sắp xếp theo">
                                    <option value="" default="">Sắp xếp theo</option>
                                    <option value="best-selling">Bán Chạy</option>
                                    <option value="low-price">Giá Thấp</option>
                                    <option value="high-price">Giá Cao</option>
                                    <option value="a">A-Z</option>
                                    <option value="z">Z-A</option>
                                </select>
                                <input type="submit" style="display: none;" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <!-- product -->
                    @foreach (var item in Model) {
                        IEnumerable<ProductDetailVM> LstProductDetail = productDetail.Where(c => c.ProductId == item.Id); // lấy list productdetail

                        if (LstProductDetail.Any())
                        {
                        
                            var productDetailID = LstProductDetail.First().Id; // lấy id productdetail đầu tiên

                            var lstProductImage = ProductImage.Where(c => c.ProductDetailId == productDetailID); // lấy list img

                                var imgFirst = lstProductImage.First().ImageUrl; // lấy img đầu tiên

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                                <a href="/Product/ProductDetail/@item.Id">
                                <div class="product-block">
                                        <a href="/Product/ProductDetail/@item.Id">
                                        <div class="product-img"><img src="@(Configuration["BaseAddress"]+imgFirst)" alt=""></div>
                                    </a><div class="product-content">
                                            <a href="/Product/ProductDetail/@item.Id">
                                        </a><h5>
                                            <a href="/Product/ProductDetail/@item.Id"></a><a href="#" class="product-title">
                                                @item.ProductName
                                            </a>
                                        </h5>
                                        <div class="product-meta">
                                            @if (item.MinPrice < item.MaxPrice)
                                            {
                                                <span>
                                                    @item.MinPrice đ  - @item.MaxPrice đ
                                                </span>
                                            }
                                            else
                                            {
                                                <span>
                                                    @item.MinPrice đ 
                                                </span>
                                            }
                                              
                                          @*  <span class="offer-price">20%off</span>*@
                                        </div>
                                        <div class="shopping-btn">
                                            <a href="#" class="product-btn btn-like" onclick="addToWishList('@item.Id')"><i class="fa fa-heart"></i></a>

                                            <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>

                        }
                        else
                        {
                            var stt = 1;
                        }

                       
                    }
                    <!-- /.product -->
                </div>
                <div class="row">
                    <!-- pagination start -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="st-pagination">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="previous"><i class="fa fa-angle-left" style="font-size: 16px;"></i></a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li> <a href="#" aria-label="Next"><i class="fa fa-angle-right" style="font-size: 16px;"></i></a></li>
                                <a href="#" aria-label="Next">
                                </a>
                            </ul><a href="#" aria-label="Next">
                            </a>
                        </div><a href="#" aria-label="Next">
                        </a>
                    </div><a href="#" aria-label="Next">
                        <!-- pagination close -->
                    </a>
                </div><a href="#" aria-label="Next">
                </a>
            </div><a href="#" aria-label="Next">
            </a>
        </div><a href="#" aria-label="Next">
        </a>
    </div><a href="#" aria-label="Next">
    </a>
</div>
</form>
<script src="~/file/user/js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/file/user/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/file/user/js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/file/user/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/file/user/js/sticky-header.js"></script>
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('#cssmenu ul ul li:odd').addClass('odd');
                $('#cssmenu ul ul li:even').addClass('even');
                $('#cssmenu > ul > li > a').click(function () {
                    $('#cssmenu li').removeClass('active');
                    $(this).closest('li').addClass('active');
                    var checkElement = $(this).next();
                    if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                        $(this).closest('li').removeClass('active');
                        checkElement.slideUp('normal');
                    }
                    if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                        $('#cssmenu ul ul:visible').slideUp('normal');
                        checkElement.slideDown('normal');
                    }
                    if ($(this).closest('li').find('ul').children().length == 0) {
                        return true;
                    } else {
                        return false;
                    }
                });
            });
        })(jQuery);
    </script>
    <script>
    function addToWishList(productId) {
    $.ajax({
        type: "POST",
        url: "/Product/WishList",
        data: { ProductId: productId },
        success: function (response) {
            if (response.success) {
                // Hiển thị SweetAlert khi thêm thành công
                Swal.fire({
                    icon: 'success',
                    title: 'Thành công!',
                    text: 'Sản phẩm đã được thêm vào danh sách yêu thích.',
                    showConfirmButton: true, // Hiển thị nút xác nhận
                    confirmButtonText: 'Xem danh sách yêu thích', // Text cho nút xác nhận
                    timer: 3000
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Nếu người dùng ấn xác nhận, chuyển hướng đến trang danh sách yêu thích
                        window.location.href = "/Product/ShowWishList";
                    }
                });
            } else {
                // Hiển thị SweetAlert khi có lỗi
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: response.errorMessage || 'Có lỗi xảy ra khi thêm sản phẩm vào danh sách yêu thích.'
                });
            }
        },
        error: function (xhr, status, error) {
            // Xử lý khi có lỗi
            console.log(error);
            // Hiển thị thông báo lỗi cho người dùng
        }
    });
}


    </script>





