@model BanMoHinh.Share.ViewModels.ProductVM
@using BanMoHinh.Share.Models;
@using System.Linq;
@using System.Globalization;
@using BanMoHinh.Share.ViewModels;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductDetailVM> lstproductDetail = ViewData["productDetail"] as List<ProductDetailVM>;
    List<ProductImage> lstProductImage = ViewData["lstProductImage"] as List<ProductImage>;
}
<style>
    .selected {
        background-color: deepskyblue; /* Màu nền khi được chọn */
    }
</style>
<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="#">Trang chủ</a></li>
                            <li>Chi tiết sản phẩm</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- product-single -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box">
                        <!-- product-description -->
                        <div class="box-body">
                            <div class="row">
                                @if (ViewData["lstProductImage"] != null)
                                {
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    @*hiển thị ảnh slide*@
                                    @foreach (var item in lstProductImage)
                                    {
                                    <ul  id="demo1_thumbs" class="slideshow_thumbs" >
                                        <li>
                                            <a href="@(Configuration["BaseAddress"]+item.ImageUrl)" alt="img-left">
                                            <div class=" thumb-img" >
                                                <img src="@(Configuration["BaseAddress"]+item.ImageUrl)" alt="img-right" >
                                            </div>
                                        </a>  
                                        </li>
                                    </ul> 
                                    }
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div id="slideshow">
                                                
                                        </div>
                                    </div>
                                }
                               
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="product-single">
                                        <h2>@Model.ProductName</h2>
                                        @*Còn thiếu đánh giá*@
                                        <div class="product-rating">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                            <span class="text-secondary">(12 đánh giá)</span>
                                        </div>
                                        <p id="selected-price" class="product-price" style="font-size: 25px;">
                                            @Model.MaxPrice?.ToString("N0")<strike style="color:rgba(128, 128, 128, 0.658); font-size: 18px;">
                                                @Model.MaxPrice?.ToString("N0")</strike>
                                        </p>

                                        <div class="box-capacity">
                                            @{
                                                var lst = lstproductDetail.Where(c => c.ProductId == Model.Id).OrderBy(c => c.SizeName);
                                                var uniquewh = lst.Select(item => new { Width = item.Width, Height = item.Height }).Distinct().ToList();

                                                foreach (var uniqueSize in uniquewh)
                                                {
                                                    <a style="width:auto; height:auto" href="#" onclick="selectSize(this)">
                                                        <span class="capacity">@uniqueSize.Width cm - @uniqueSize.Height cm</span>
                                                    </a>
                                                }
                                            }
                                        </div>

                                        <div class="color-phone">
                                            @{
                                                var lstc = lstproductDetail.Where(c => c.ProductId == Model.Id).OrderBy(c => c.ColorName);
                                                var uniqueColors = lstc.Select(item => item.ColorName).Distinct().ToList();

                                                foreach (var uniqueColor in uniqueColors)
                                                {
                                                    <a style="width:auto; height:auto" href="#" onclick="selectColor(this)">
                                                        <span class="capacity">@uniqueColor</span>
                                                    </a>
                                                }
                                            }
                                        </div>

                                        <div class="product-quantity">
                                            <h4>Số lượng</h4>
                                            <div class="quantity mb20">
                                                <input class="btn-quantity decrease-quantity" onclick="dcQuantity()"
                                                    type="button" value="-">
                                                <input type="number" max="10" min="1" name="quantity" value="1"
                                                    class="quantity-input" id="quantity-input">
                                                <input class="btn-quantity increase-quantity" onclick="icQuantity()"
                                                    type="button" value="+">
                                            </div>
                                            <span class="rest-quantity">@Model.AvailableQuantity sản phẩm có sẵn</span>
                                        </div>
                                        <div>
                                            <button class="btn btn-default btn-buy-now">
                                                Mua Ngay
                                            </button>
                                            <button type="submit" class="btn btn-default">
                                                <i class="fa fa-shopping-cart"></i>&nbsp;Thêm vào giỏ hàng
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box-head scroll-nav">
                        <div class="head-title">
                            <a class="page-scroll active" href="#product">Mô tả sản phẩm</a>
                            <a class="page-scroll" href="#rating">Đánh giá và nhận xét</a>
                            <a class="page-scroll" href="#review">Thêm nhận xét</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- highlights -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="description-details">
                        <div class="description-left">
                            <h2 class="dgctpro">Đặc điểm nổi bật</h2>
                            <div itemprop="description" class="content_hide content-desc" style="height: 1180px;">
                                
                            </div>
                            <button class="less-evaluation text-center" style="display:none"><i
                                    class="fa fa-minus-circle"></i> Rút gọn</button>
                            <button class="more-evaluation text-center"><i class="fa fa-plus-circle"></i> Xem
                                thêm</button>

                        </div>
                        <div class="description-right">
                            <h2 class="dgctpro">Thông tin mô hình</h2>
                            <table class="charactestic_table">
                                <tbody>
                                    <tr>
                                        <td class="title_charactestic" width="30%">
                                            Nhãn sản xuất:
                                        </td>
                                        <td class="content_charactestic">
                                            @Model.BrandName
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="title_charactestic" width="30%">
                                            Loại mô hình:
                                        </td>
                                        <td class="content_charactestic">
                                            @Model.CategoryName
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="title_charactestic" width="30%">
                                            Chất liệu:
                                        </td>
                                        <td class="content_charactestic">
                                            @Model.MaterialName
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="title_charactestic" width="30%">
                                            Size sẵn có:
                                        </td>
                                        <td class="content_charactestic">
                                            @{
                                                // Tạo một danh sách chứa tên kích thước duy nhất
                                                var uniqueSizes = lstproductDetail.Select(item => item.SizeName).Distinct().ToList();

                                                // Tạo một biến để chứa chuỗi các kích thước
                                                var sizeString = string.Join(", ", uniqueSizes);

                                                // Hiển thị chuỗi kích thước
                                                <p>@sizeString</p>
                                            }
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="title_charactestic" width="30%">
                                            Màu sẵn có:
                                        </td>
                                        <td class="content_charactestic">
                                            @{
                                                var uniqueSizes1 = lstproductDetail.Select(item => item.ColorName).Distinct().ToList();
                                                var colorString = string.Join(", ", uniqueSizes1);
                                                <p>@colorString</p>
                                            }
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="title_charactestic" width="30%">
                                            Ram:
                                        </td>
                                        <td class="content_charactestic">
                                            6GB
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="title_charactestic" width="30%">
                                            Bộ nhớ trong:
                                        </td>
                                        <td class="content_charactestic">
                                            128GB
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- rating reviews  -->
            <div id="rating">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="box container-rating-review">
                            <div class="box-head">
                                <h3 class="head-title">Đánh giá và nhận xét</h3>
                            </div>
                            <div class="box-body">
                                <div class="row  rating-box">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="rating-review">
                                            <div class="">
                                                <h1 class="score-rating">4</h1>
                                            </div>
                                            <div>
                                                <div class="product-rating">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <p class="text-secondary">12 nhận xét</p>
                                            </div>
                                        </div>
                                        <div class="rating-view-details">
                                            <div class="rating-level">
                                                <div class="product-rating">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                </div>
                                                <span>12</span>
                                            </div>

                                            <div class="rating-level">
                                                <div class="product-rating">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <span>0</span>
                                            </div>
                                            <div class="rating-level">
                                                <div class="product-rating">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <span>0</span>
                                            </div>

                                            <div class="rating-level">
                                                <div class="product-rating">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <span>0</span>
                                            </div>
                                            <div class="rating-level">
                                                <div class="product-rating">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <span>0</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row review-box">
                                    <div class="customer-reviews">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="reviews-text"><span class="text-default">Nika Nguyen</span> </p>
                                            <div class="product-rating">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star-o"></i></span>
                                            </div>
                                            <p>Giao hàng siêu đúng hẹn, hàng cũng được đóng gói cẩn thận.
                                                Hiện tại mình xài được vài bữa thì không bị vấn đề gì.
                                                Hàng của shopdunk thì không lo về chất lượng.</p>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="divider-line"></div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div id="review">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="box">
                                <div class="box-head">
                                    <h3 class="head-title">Đánh giá và nhận xét của bạn</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="review-form">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 review-left">
                                                <div class="review-rating">
                                                    <h4>Đánh giá của bạn về sản phẩm này</h4><br />
                                                    <div class="star-rate" id="rateYo"></div>
                                                </div>
                                            </div>
                                            <form class="review-right">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label sr-only " for="name"></label>
                                                        <input id="name" type="text" class="form-control"
                                                            placeholder="Họ tên" required="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label sr-only " for="email"></label>
                                                        <input id="email" type="text" class="form-control"
                                                            placeholder="Email" required="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label sr-only " for="textarea"></label>
                                                        <textarea class="form-control" id="textarea" name="textarea"
                                                            rows="4" placeholder="Mời bạn nhập bình luận"></textarea>
                                                    </div>
                                                    <button id="submit" name="singlebutton" class="btn btn-primary">Gửi
                                                        đánh giá</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.reviews-form -->

            </div>


        </div>
        <!-- /.product-description -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box-head">
                        <h3 class="head-title">Sản phẩm liên quan</h3>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <!-- product -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb30">
                            <div class="product-block">
                                <div class="product-img"><img src="images/product_img_1.png" alt=""></div>
                                <div class="product-content">
                                    <h5><a href="#" class="product-title">Google Pixel <strong>(128GB,
                                                Black)</strong></a></h5>
                                    <div class="product-meta"><a href="#" class="product-price">$1100</a>
                                        <a href="#" class="discounted-price">$1400</a>
                                        <span class="offer-price">20%off</span>
                                    </div>
                                    <div class="shopping-btn">
                                        <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                        <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.product -->                     
                    </div>
                </div>
            </div>
        </div>
        <!-- /.product-single -->
    </div>

    <script src="~/file/user/js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/file/user/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/file/user/js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/file/user/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/file/user/js/sticky-header.js"></script>
    <script type="text/javascript" src="~/file/user/js/scrolling-nav.js"></script>
    <script type="text/javascript" src="~/file/user/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/file/user/js/jquery.rateyo.min.js"></script>
    <script src="~/file/user/js/jquery.desoslide.js"></script>

    <script type="text/javascript">
        $('#slideshow').desoSlide({
            thumbs: $('ul.slideshow_thumbs li > a'),
            effect: {
                provider: 'animate',
                name: 'fade'
            }

        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#rateYo").rateYo({
                rating: 3.6,
                starWidth: "25px"
            });

        });
    </script>

    <script>
        function dcQuantity() {
            var result = document.getElementById('quantity-input');
            var qty = result.value;
            if (!isNaN(qty) && qty > 1) {
                result.value--;
                document.getElementById('quantity-input').innerHTML = qty;
            }
            return false;
        };
        function icQuantity() {
            var result = document.getElementById('quantity-input');
            var qty = result.value;
            if (!isNaN(qty) && qty < 10) {
                result.value++;
                document.getElementById('quantity-input').innerHTML = qty;
            }
            return false;
        }
    </script>

    <script>
        $(document).ready(function () {
            $('.less-evaluation').click(function () {
                $('.content-desc').css('height', '1180px');
                $(this).css('display', 'none');
                $('.more-evaluation').css('display', 'block');
            })
        })

        $(document).ready(function () {
            $('.more-evaluation').click(function () {
                $('.content-desc').css('height', 'auto');
                $(this).css('display', 'none');
                $('.less-evaluation').css('display', 'block');
            })
        })

        $(document).ready(function () {
            $('.page-scroll').click(function () {
                $('.page-scroll').removeClass('active');
                $(this).addClass('active');
            })
        })
    </script>
    <script>
        function selectSize(element) {
            // Loại bỏ lớp selected từ tất cả các thẻ <a>
            var allLinks = document.querySelectorAll('.box-capacity a');
            allLinks.forEach(link => link.classList.remove('selected'));

            // Thêm lớp selected cho thẻ được nhấp vào
            element.classList.add('selected');
        }

        function selectColor(element) {
            // Loại bỏ lớp selected từ tất cả các thẻ <a>
            var allLinks = document.querySelectorAll('.color-phone a');
            allLinks.forEach(link => link.classList.remove('selected'));

            // Thêm lớp selected cho thẻ được nhấp vào
            element.classList.add('selected');
        }
    </script>
