@model BanMoHinh.Share.Models.Product
@using BanMoHinh.Share.Models;
@using System.Linq;
@using BanMoHinh.Share.ViewModels;
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    

    <div class="content">
       
        <div class="container">
             @if (ViewData["productDetail"] != null)
        {
            var productdetail = ViewData["productDetail"] as ProductDetailVM;
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box">
                        <!-- product-description -->
                        <div class="box-body">
                            <div class="row">
                                @if (ViewData["lstProductImage"] != null)
                                {
                                    var lstProductImage = ViewData["lstProductImage"] as List<ProductImage>;
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
@* 
                                        @{
                                            int stt = 0;
                                        }

                                        <ul  id="demo1_thumbs" class="slideshow_thumbs" >
                                           
                                        </ul> *@
                                        @foreach (var item in lstProductImage)
                                        {


                                            @*  <a href="https://localhost:7007/@item.ImageUrl" alt="img-left">
                                <div class=" thumb-img" >
                                </div>
                                </a>  *@
                                            <img src="https://localhost:7007/@item.ImageUrl" alt="img-right" style="width: 100%; height: 510px;">


                                        }
                                    </div>

                                   @*  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div id="slideshow"></div>
                                    </div> *@
                                }


                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="product-single">
                                        <h2>@Model.ProductName</h2>
                                        <div class="product-rating">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                            <span class="text-secondary">&nbsp;(12 đánh giá)</span>
                                        </div>
                                        <p class="product-price" style="font-size: 25px;">
                                            @productdetail.PriceSale<strike style="color:rgba(128, 128, 128, 0.658); font-size: 18px;">
                                                @productdetail.Price
                                            </strike>
                                        </p>
                                       
                                        <div class="product-quantity">
                                            <h4>Số lượng</h4>
                                            <div class="quantity mb20">
                                                <input class="btn-quantity decrease-quantity" onclick="dcQuantity()" type="button" value="-">
                                                <input type="number" max="10" min="1" name="quantity" value="1" class="quantity-input" id="quantity-input">
                                                <input class="btn-quantity increase-quantity" onclick="icQuantity()" type="button" value="+">
                                            </div>
                                            <span class="rest-quantity">5 sản phẩm có sẵn</span>
                                        </div>
                                        <div>
                                            <button class="btn btn-default btn-buy-now">
                                                Mua Ngay
                                            </button>
                                            <a type="submit" class="btn btn-default" asp-controller="Cart" asp-action="AddtoCart" asp-route-prDetailId="@productdetail.Id" asp-route-quantity="1" asp-route-Price="@productdetail.PriceSale">
                                                
                                                <i class="fa fa-shopping-cart"></i>&nbsp;Thêm vào giỏ hàng
                                            </a>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="box-head scroll-nav">
                            <div class="head-title">
                                <a class="page-scroll active" href="#product">Mô tả sản phẩm</a>
                                <a class="page-scroll" href="#rating">Đánh giá và nhận xét</a>
                                <a class="page-scroll" href="#review">Thêm nhận xét</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- highlights -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="description-details">
                            @if (ViewData["lstProductImage"] != null)
                            {
                                var lstProductImage = ViewData["lstProductImage"] as List<ProductImage>;

                                @foreach (var item in lstProductImage)
                                {
                                    <div class="description-left">
                                        <h2 class="dgctpro">Đặc điểm nổi bật</h2>
                                        <div itemprop="description" class="content_hide content-desc" style="height: 1180px;">
                                            <h2>
                                                @productdetail.Description
                                            </h2>

                                            <h3>Giới thiệu sản phẩm: </h3>

                                            <p>
                                                @Model.Long_Description
                                            </p>

                                            <p style="text-align: center;"><img alt="thiet-ke-iphone-13-128gb-xtmobile" src="https://localhost:7007/@item.ImageUrl" style="width: 680px; height: 510px;"></p>

                                            <p>
                                                Mô hình Porsche RWB Backdate 1:64 được chế tác bởi hãng mô hình Tarmac Works. Nhà sản xuất đã rất trau chuốt cho mẫu mô hình với vẻ ngoài cứng cáp, mạnh mẽ cùng nội thất tương đối bắt mắt người tiêu dùng.

                                                Chất liệu của mô hình được đúc bằng khung kim loại, lốp xe bằng cao su và một số chi tiết được phủ lớp mạ chrome.
                                            </p>

                                            <p style="text-align: center;"><img alt="thiet-ke-iphone-13-128gb-xtmobile" src="https://localhost:7007/@item.ImageUrl" style="width: 680px; height: 510px;"></p>



                                        </div>
                                        <button class="less-evaluation text-center" style="display:none"><i class="fa fa-minus-circle"></i> Rút gọn</button>
                                        <button class="more-evaluation text-center">
                                            <i class="fa fa-plus-circle"></i> Xem
                                            thêm
                                        </button>

                                    </div>
                                }
                            }
                            <div class="description-right">
                                <h2 class="dgctpro">Thông số kĩ thuật</h2>
                                <table class="charactestic_table">
                                    <tbody>
                                        <tr>
                                            <td class="title_charactestic" width="20%">
                                                Tỉ lệ:
                                            </td>
                                            <td class="content_charactestic">
                                                1 : 64
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="title_charactestic" width="20%">
                                               Chất Liệu:
                                            </td>
                                            <td class="content_charactestic">
                                                Đúc bằng kim loại, lốp xe bằng cao su, chi tiết xe được mô phỏng thiết kế như xe thật.
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="title_charactestic" width="20%">
                                               Sơn:
                                            </td>
                                            <td class="content_charactestic">
                                                Lớp sơn mịn tương đối, bóng hoàn hảo.
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="title_charactestic" width="20%">
                                               Chức năng:
                                            </td>
                                            <td class="content_charactestic">
                                                Mô hình thích hợp để trưng bày và làm quà tặng.
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="title_charactestic" width="20%">
                                              Kích Thước:
                                            </td>
                                            <td class="content_charactestic">
                                                (đang cập nhật)
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="title_charactestic" width="20%">
                                                Trọng Lượng: 
                                            </td>
                                            <td class="content_charactestic">
                                                (đang cập nhật)
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="title_charactestic" width="20%">
                                                Hãng sản xuất:
                                            </td>
                                            <td class="content_charactestic">
                                                Tarmac Works
                                            </td>
                                        </tr>

                                        <tr>
                                            <td  width="20%">
                                                Sản phẩm được sản xuất có bản quyền.
                                            </td>
                                           
                                        </tr>

                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
                <!-- rating reviews  -->
                <div id="rating">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="box container-rating-review">
                                <div class="box-head">
                                    <h3 class="head-title">Đánh giá và nhận xét</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row  rating-box">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="rating-review">
                                                <div class="">
                                                    <h1 class="score-rating">4</h1>
                                                </div>
                                                <div>
                                                    <div class="product-rating">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </div>
                                                    <p class="text-secondary">12 nhận xét</p>
                                                </div>
                                            </div>
                                            <div class="rating-view-details">
                                                <div class="rating-level">
                                                    <div class="product-rating">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                    </div>
                                                    <span>12</span>
                                                </div>

                                                <div class="rating-level">
                                                    <div class="product-rating">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </div>
                                                    <span>0</span>
                                                </div>
                                                <div class="rating-level">
                                                    <div class="product-rating">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </div>
                                                    <span>0</span>
                                                </div>

                                                <div class="rating-level">
                                                    <div class="product-rating">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </div>
                                                    <span>0</span>
                                                </div>
                                                <div class="rating-level">
                                                    <div class="product-rating">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </div>
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row review-box">
                                        <div class="customer-reviews">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="reviews-text"><span class="text-default">Nika Nguyen</span> </p>
                                                <div class="product-rating">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <p>
                                                    Giao hàng siêu đúng hẹn, hàng cũng được đóng gói cẩn thận.
                                                    Hiện tại mình xài được vài bữa thì không bị vấn đề gì.
                                                    Hàng của shopdunk thì không lo về chất lượng.
                                                </p>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="divider-line"></div>
                                            </div>
                                        </div>
                                        <div class="customer-reviews">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="reviews-text">
                                                    <span class="text-default">Lưu Tee</span>
                                                </p>
                                                <div class="product-rating">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>

                                                <p>
                                                    Mặc dù vận chuyển lâu do lỗi, nhưng shop vẫn hỗ trợ mình rất nhiệt tình
                                                </p>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="divider-line"></div>
                                            </div>
                                        </div>
                                        <div class="customer-reviews">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="reviews-text">
                                                    <span class="text-default">
                                                        William
                                                        Cassidy
                                                    </span>
                                                </p>
                                                <div class="product-rating">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>

                                                <p>
                                                    Sản phẩm rất tốt vì là lần đầu tôi mua trên mạng đt nên thấy khá là lo
                                                    lắng nhưng khi nhận đc hàng thì tôi lại thấy tốt hơn mong đợi của mình
                                                    chúc Shop làm ăn mua may bán đắt
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div id="review">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="box">
                                    <div class="box-head">
                                        <h3 class="head-title">Đánh giá và nhận xét của bạn</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="review-form">

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 review-left">
                                                    <div class="review-rating">
                                                        <h4>Đánh giá của bạn về sản phẩm này</h4><br>
                                                        <div class="star-rate jq-ry-container" id="rateYo" style="width: 125px;"><div class="jq-ry-group-wrapper"><div class="jq-ry-normal-group jq-ry-group"><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="25px" height="25px" fill="gray"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="25px" height="25px" fill="gray" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="25px" height="25px" fill="gray" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="25px" height="25px" fill="gray" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="25px" height="25px" fill="gray" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg></div><div class="jq-ry-rated-group jq-ry-group" style="width: 72%;"><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="25px" height="25px" fill="#f39c12"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="25px" height="25px" fill="#f39c12" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="25px" height="25px" fill="#f39c12" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="25px" height="25px" fill="#f39c12" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?--><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="25px" height="25px" fill="#f39c12" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg></div></div></div>
                                                    </div>
                                                </div>
                                                <form class="review-right">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label sr-only " for="name"></label>
                                                            <input id="name" type="text" class="form-control" placeholder="Họ tên" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label sr-only " for="email"></label>
                                                            <input id="email" type="text" class="form-control" placeholder="Email" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label sr-only " for="textarea"></label>
                                                            <textarea class="form-control" id="textarea" name="textarea" rows="4" placeholder="Mời bạn nhập bình luận"></textarea>
                                                        </div>
                                                        <button id="submit" name="singlebutton" class="btn btn-primary">
                                                            Gửi
                                                            đánh giá
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.reviews-form -->

                </div>


            </div>
            <!-- /.product-description -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="box-head">
                            <h3 class="head-title">Sản phẩm liên quan</h3>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <!-- product -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb30">
                                <div class="product-block">
                                    <div class="product-img"><img src="images/product_img_1.png" alt=""></div>
                                    <div class="product-content">
                                        <h5>
                                            <a href="#" class="product-title">
                                                Google Pixel <strong>
                                                    (128GB,
                                                    Black)
                                                </strong>
                                            </a>
                                        </h5>
                                        <div class="product-meta">
                                            <a href="#" class="product-price">$1100</a>
                                            <a href="#" class="discounted-price">$1400</a>
                                            <span class="offer-price">20%off</span>
                                        </div>
                                        <div class="shopping-btn">
                                            <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                            <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.product -->
                            <!-- product -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb30">
                                <div class="product-block">
                                    <div class="product-img"><img src="images/product_img_2.png" alt=""></div>
                                    <div class="product-content">
                                        <h5>
                                            <a href="#" class="product-title">HTC U Ultra <strong>(64GB, Blue)</strong></a>
                                        </h5>
                                        <div class="product-meta">
                                            <a href="#" class="product-price">$1200</a>
                                            <a href="#" class="discounted-price">$1700</a>
                                            <span class="offer-price">10%off</span>
                                        </div>
                                        <div class="shopping-btn">
                                            <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                            <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.product -->
                            <!-- product -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb30">
                                <div class="product-block">
                                    <div class="product-img"><img src="images/product_img_3.png" alt=""></div>
                                    <div class="product-content">
                                        <h5><a href="#" class="product-title">Samsung Galaxy Note 8</a></h5>
                                        <div class="product-meta">
                                            <a href="#" class="product-price">$1500</a>
                                            <a href="#" class="discounted-price">$2000</a>
                                            <span class="offer-price">40%off</span>
                                        </div>
                                        <div class="shopping-btn">
                                            <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                            <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.product -->
                            <!-- product -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb30">
                                <div class="product-block">
                                    <div class="product-img"><img src="images/product_img_4.png" alt=""></div>
                                    <div class="product-content">
                                        <h5>
                                            <a href="#" class="product-title">
                                                Vivo V5 Plus <strong>
                                                    (Matte
                                                    Black)
                                                </strong>
                                            </a>
                                        </h5>
                                        <div class="product-meta">
                                            <a href="#" class="product-price">$1500</a>
                                            <a href="#" class="discounted-price">$2000</a>
                                            <span class="offer-price">15%off</span>
                                        </div>
                                        <div class="shopping-btn">
                                            <a href="#" class="product-btn btn-like">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                            <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.product-single -->
        </div>
    
