@using BanMoHinh.Share.Models;
@using BanMoHinh.Share.ViewModels;
@model IEnumerable<BanMoHinh.Share.ViewModels.ProductVM>;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{

    List<WishListVM> wl = ViewData["WishList"] as List<WishListVM>;
    List<ProductDetailVM> productDetail = ViewData["productDetail"] as List<ProductDetailVM>;
    List<ProductImage> ProductImage = ViewData["ProductImage"] as List<ProductImage>;
    List<ProductVM> Product = ViewData["Product"] as List<ProductVM>;
}

<div class="container">
        <div class="row">

            <div class="box">
                <div class="box-head box-head-gray">
                    <h3 class="head-title">Danh sách yêu thích</h3>
                </div>
                <div class="box-body box-body-gray">
                    <ul class="list-favorites">
                        @foreach (var item in Model)
                    {
                        IEnumerable<ProductDetailVM> LstProductDetail = productDetail.Where(c => c.ProductId == item.Id); 
                        var productDetailID = LstProductDetail.First().Id; // lấy id productdetail đầu tiên
                        var lstProductImage = ProductImage.Where(c => c.ProductDetailId == productDetailID); // lấy list img
                        var imgFirst = lstProductImage.First().ImageUrl; // lấy img đầu tiên
                        <li class="item">
                            <button class="btn-delete" onclick="deleteFromWishList('@idwistlist')">×</button>
                            <div class="thumbnail">
                                <a href="/Product/ProductDetail/@item.Id" class="img">
                                    <img src="@(Configuration["BaseAddress"]+imgFirst)"
                                        alt="">
                                </a>
                            </div>

                            <div class="body">
                                <a href="/Product/ProductDetail/@item.Id" class="name">@item.ProductName</a>                     

                            </div>

                            <div class="footer">
                                <div class="price-discount">
                                    
                                        @if (item.MinPrice < item.MaxPrice)
                                            {
                                                <span>
                                                    @item.MinPrice đ  - @item.MaxPrice đ
                                                </span>
                                            }
                                            else
                                            {
                                                <span>
                                                    @item.MinPrice đ 
                                                </span>
                                            }
                                    
                                    
                                </div>
                                <div class="wrap">
                                    <div class="price"><strike>@item.MinPrice</strike></div>
                                    <div class="discount">-3%</div>
                                </div>
                            </div>

                        </li>
                    }
                        <div id="deleteMessage" style="display:none;"></div>                      
                    </ul>
                </div>
            </div>
            <a href="/Product/ListProduct" class="btn-link" style="display:block; margin-bottom: 20px">
                <center> Trở về trang mua hàng</center>
            </a>

            <!-- cart-total -->

        </div>
        <!-- /.cart-total -->
        <!-- </div> -->
    </div>
    
    <script>
    function deleteFromWishList(idwistlist) {
        $.ajax({
            url: '/ControllerName/DeleteFromWishList',
            type: 'POST',
            data: { idwistlist: idwistlist },
            success: function(response) {
                // Xử lý kết quả trả về từ hàm DeleteFromWishList ở đây
                console.log(response.message);
            },
            error: function() {
                // Xử lý khi có lỗi xảy ra
                console.log("Có lỗi xảy ra khi gọi hàm DeleteFromWishList");
            }
        });
    }
</script>