@using BanMoHinh.Share.ViewModels;
@using BanMoHinh.Share.Models;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model IEnumerable<BanMoHinh.Share.ViewModels.ViewCartDetails>

@{
    ViewData["Title"] = "ShowCart";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    decimal? total = 0;
    decimal? totalAmount = 0;
    decimal? price = 0;
    var productDetail = ViewData["productDetail"] as List<ProductDetailVM>;
    var ProductImage = ViewData["ProductImage"] as List<ProductImage>;
    var Voucher = ViewData["voucher"] as List<Voucher>;
    var color = ViewData["color"] as List<Colors>;
    var size = ViewData["size"] as List<Size>;

}
@{
    int checksz = 0; int checkcol = 0;
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
            </ol>
        </nav>
    </div>
</section>
<!-- End breadcumb Area -->
<!--================Cart Area =================-->
<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>Giỏ hàng</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>02</span></p>
                        <h3>Thanh toán</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>Hoàn thành</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="cart-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pro-quantity">STT</th>
                                <th class="pro-thumbnail">Sản phẩm</th>
                                <th class="pro-title">Tên</th>
                                <th class="pro-quantity text-center">Size</th>
                                <th class="pro-quantity text-center">Màu sắc</th>
                                <th class="pro-quantity">Số lượng</th>
                                <th class="pro-price">Giá</th>
                                <th class="pro-subtotal">Tổng</th>
                                <th class="pro-remove"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int stt = 0;
                                foreach (var item in Model)
                                {
                                    
                                    <tr>
                                        <td class="pro-quantity"><span>@stt</span></td>
                                        <td class="pro-thumbnail">
                                            <a href="#">
                                                <img class="img-fluid img-cart-inx" src="@(Configuration["BaseAddress"]+item.ImageName)" alt="">
                                            </a>
                                        </td>
                                        <td class="pro-title custom-title-cart">
                                            <a data-toggle="tooltip"
                                               title="@item.ProductName" asp-action="Details" asp-route-id="Products"> @item.ProductName</a>
                                        </td>
                                        <td class="pro-quantity text-center">
                                            <select class="cart-tbl-select-custom ml-3 border-0" >
                                                @foreach (var i in size)
                                                {
                                                    @if (item.SizeId == i.Id)
                                                    {
                                                        <option  value="@i.Id">@i.SizeName</option>

                                                        
                                                        checksz++;
                                                    }
                                                    
                                                }
                                            </select>
                                        </td>
                                        <td class="pro-quantity text-center">
                                            <select class="cart-tbl-select-custom ml-4 border-0" >
                                                @foreach (var i in color)
                                                {
                                                    @if (item.ColorsId == i.ColorId)
                                                    {
                                                        <option value="@i.ColorId">@i.ColorName</option>

                                                        
                                                        checkcol++;
                                                    }
                                                    
                                                }
                                            </select>
                                        </td>
                                        <td class="pro-quantity">
                                            <span>
                                                <input name="sl" min="1" max="99" type="number"  onchange="" value="@item.Quantity" />
                                            </span>
                                        </td>
                                        <td class="pro-subtotal">
                                            @{
                                                price = item.PriceSale;
                                                
                                            }
                                            <span>@price?.ToString("N0")</span>
                                        </td>
                                        <td class="pro-price">
                                            @{
                                                total = item.TotalPrice;
                                                totalAmount += total;
                                            }
                                            <span>@total?.ToString("N0")</span>
                                        </td>
                                        <td class="pro-remove"><a href="javascript:delCart();"><i class='bx bx-x bx-sm'></i></a></td>
                                    </tr>

                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <input type="hidden" id="stt" value="@stt" />
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="total-wrap">
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-5 text-center">
                            <div class="total">
                                <div class="grand-total mt-3">
                                    <p><span><strong>Tổng tiền:</strong></span> <span>@String.Format("{0:n0}", totalAmount) VNĐ</span></p>
                                </div>
                            </div>
                            <div class="checkout_btn_inner mt-3">

                                <a class="primary-btn" asp-controller="Bill" asp-action="Checkout">Tiến hành thanh toán</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* của họ, của mik toi xoá r, ô lcopy lại r sửa nh *@
<script>
    function clearCart() {
        $("#imgCart").attr("src", '/images/bag.png');
    }
    function delCart(id) {
        location.reload();
        $.ajax({
            type: "POST",
            url: "/Home/DeleteCart",
            data: {
                id: id,
            },
            success: function (result) {
                $("#tr_" + id).hide();
                $("#spTotal").html(result);
            }
        });
    }

    function updateCart(id) {
        var soluong = $("#txtQuantity_" + id).val();
        var gia = $("#tdGia_" + id).html();
        var thanhtien = soluong * gia;
        var sizes = $("#size_" + id).val();
        var colors = $("#color_" + id).val();

        $("#tdTien_" + id).html(thanhtien);
        location.reload();

        $.ajax({
            type: "POST",
            url: "/Home/UpdateCart",
            data: {
                id: id,
                soluong: soluong,
                size: sizes,
                color: colors
            },
            success: function (result) {
                $("#spTotal").html(result);
            }
        });
    }
</script>
     