@model IEnumerable<BanMoHinh.Share.Models.OrderItem>

@{
    ViewData["Title"] = "ShowList";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}

<h1>ShowList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.ProductDetailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "DetailsOrder", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteC", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
