@model IEnumerable<BanMoHinh.Share.Models.Colors>

@{
    ViewData["Title"] = "Bảng màu sắc";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}


<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.ColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorCode)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Update", new {  id=item.ColorId  }) |
                @Html.ActionLink("Chi tiết", "Details", new {  id=item.ColorId  }) |
                @Html.ActionLink("Xoá", "Remove", new {  id=item.ColorId  })
            </td>
        </tr>
}
    </tbody>
</table>
