@model IEnumerable<BanMoHinh.Share.Models.Voucher>

@{
    ViewData["Title"] = "GetallVoucher";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}
<h4>Danh sách voucher</h4>
<div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
          <li class="breadcrumb-item active"><a asp-action="Show">Danh sách voucher</a></li>
        </ul>    
</div>
<p>
    <a asp-action="CreateVoucher" class="btn btn-success m-1">Thêm mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã
            </th>
            <th>
                Số lượng
            </th>        
            <th>
                Giá trị voucher
            </th>
            <th>
                Hình thức giảm
            </th>
            <th>
                Giá trị đơn hàng
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
                Trạng thái
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
           
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @if (item.Discount_Type == 1)
                        {
                            <p>Giảm %</p>
                        }
                        else if(item.Discount_Type == 0)
                        {
                            <p>Giảm theo tiền</p>
                        }
               
                <td>
                    @Html.DisplayFor(modelItem => item.Minimum_order_value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_Date)
                </td>
                <td>
                    @if(item.Status == true)
                    {
                         <p style="color:green">Sử dụng</p>
                    }
                    else
                    {
                        <p style="color:red">Ngừng áp dụng</p>
                    }
                </td>
                <td>
                     <a class="btn btn-primary btn-sm" type="button" href="editVoucher/@item.Id" title="Sửa"><i class="fa fa-edit"></i></a>
                            @if (item.Status == true)
                            {
                            <button class="btn btn-danger">
                                    @Html.ActionLink("Không sử dụng", "KoSuDung", new { id = item.Id }, new { @style = "color:white;" })
                            </button>
                            }
                            else
                            {
                            <button class="btn btn-success">
                                    @Html.ActionLink("Sử dụng", "SuDung", new { id = item.Id }, new { @style = "color:white;" })
                            </button>
                            }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
