@model IEnumerable<BanMoHinh.Share.Models.Voucher>

@{
    ViewData["Title"] = "GetallVoucher";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}
<h4>Danh sách voucher</h4>
<div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
          <li class="breadcrumb-item active"><a asp-action="Show">Danh sách voucher</a></li>
        </ul>    
</div>
<p>
    <a asp-action="CreateVoucher" class="btn btn-success m-1">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Kiểu voucher
            </th>
            <th>
                Trạng thái kiểu
            </th>
            <th>
                Mã
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá trị
            </th>
            <th>
                Giá trị tối thiểu
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thức
            </th>
            <th>
                Trạng thái
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minimum_order_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                 <a class="btn btn-primary btn-sm" type="button" href="editVoucher/@item.Id" title="Sửa"><i class="fa fa-edit"></i></a>
                <a class="btn btn-warning btn-sm"  type="button" href="detailVoucher/@item.Id" title="Chi tiết"><i class="fas fa-info-circle"></i></a>
                <a class="btn btn-danger btn-sm " type="button" href="DeleteVoucher/@item.Id" title="Xóa"><i class="fas fa-trash"></i></a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
