@model X.PagedList.IPagedList<BanMoHinh.Share.Models.Order>
@using X.PagedList.Mvc.Core;

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start breadcumb Area -->
<section class="breadcrumb-login">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lịch sử đơn hàng</li>
            </ol>
        </nav>
    </div>
</section>

<div class="colorlib-product colorlib-product-details ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="process-wrap process-wrap-details ">
                    <div class="steps-timeline">

                        <a href="/Order/allOrder?status=0" class="col-md-2">
                            <div class="steps-one text-center active">
                                <p><span class='bx bx-layer  bx-tada bx-lg'></span></p>
                                <h3 class="steps-name">
                                    Tất cả
                                </h3>
                            </div>
                        </a>
                        
                        <a href="/Order/allOrder?status=-1" class="col-md-2">
                            <div class="steps-one text-center active">
                                <p><span class='bx bx-wallet-alt bx-tada bx-lg'></span></p>
                                <h3 class="steps-name">
                                    Chờ thanh toán
                                </h3>
                            </div>
                        </a>
                        <a href="/Order/allOrder?status=1" class="col-md-2">
                            <div class="steps-one text-center active">
                                <p><span class='bx bx-cog bx-spin bx-lg'></span></p>
                                <h3 class="steps-name">
                                    Đang xử lý
                                </h3>
                            </div>
                        </a>

                        <a href="/Order/allOrder?status=2" class="col-md-2">
                            <div class="steps-two text-center" onclick="activateStep(this)">
                                <p><span class='bx bxs-package bx-tada bx-lg'></span></p>
                                <h3 class="steps-name">
                                    Chờ lấy hàng
                                </h3>
                            </div>
                        </a>
                        <a href="/Order/allOrder?status=3" class="col-md-2">
                            <div class="steps-three text-center" onclick="activateStep(this)">
                                <p><span class='bx bxs-truck bx-tada bx-lg'></span></p>
                                <h3 class="steps-name">
                                    Đang giao hàng
                                </h3>
                            </div>
                        </a>
                        <a href="/Order/allOrder?status=4" class="col-md-2">
                            <div class="steps-four text-center" id="processingStep" onclick="activateStep(this)">
                                <p><span class='bx bx-badge-check bx-tada bx-lg'></span></p>
                                <h3 class="steps-name">
                                    Đã nhận
                                </h3>
                            </div>
                        </a>
                        <a href="/Order/allOrder?status=5" class="col-md-2">
                            <div class="steps-five text-center" id="packagingStep" onclick="activateStep(this)">
                                <p><span class='bx bxs-x-circle bx-spin bx-lg'></span></p>
                                <h3 class="steps-name">
                                    Đã hủy
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="cart-table table-responsive">

                    <table class="table tbl-history">
                        <thead>
                            <tr>
                                <th>
                                    <a class="custom-txt-history">
                                        <span>Ngày đặt</span><i class="bx bxs-sort-alt ml-2"></i>
                                    </a>
                                </th>
                                <th>
                                    <a class="custom-txt-history">
                                        <span>Tổng tiền thanh toán</span><i class="bx bxs-sort-alt ml-2"></i>
                                    </a>
                                </th>
                                <th>
                                    <p>Ngày thanh toán</p>
                                </th>
                                <th>
                                    <p>Trạng thái</p>
                                </th>

                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Create_Date)
                                    </td>
                                    <td>
                                        @string.Format("{0:0,0 VND}", item.TotalAmoutAfterApplyingVoucher)
                                    </td>
                                    <td>
                                        @if (item.Payment_Date == null)
                                        {
                                            <p>Chờ thanh toán</p>
                                        }
                                        else
                                        {
                                            <p>@item.Payment_Date</p>
                                        }
                                    </td>
                                    <td>
                                        @if (item.OrderStatusId == Guid.Parse("1C54C2DD-2FA5-4041-9B94-FB613BEBDFBC"))
                                        {
                                            <p>Đang được xử lý</p>
                                        }
                                        else if (item.OrderStatusId == Guid.Parse("2C54C2DD-2FA5-4041-9B94-FB613BEBDFBC"))
                                        {
                                            <p>Chờ lấy hàng</p>
                                        }
                                        else if (item.OrderStatusId == Guid.Parse("3C54C2DD-2FA5-4041-9B94-FB613BEBDFBC"))
                                        {
                                            <p>Đang giao hàng</p>
                                        }
                                        else if (item.OrderStatusId == Guid.Parse("4C54C2DD-2FA5-4041-9B94-FB613BEBDFBC"))
                                        {
                                            <p>Giao hàng thành công</p>
                                        }
                                        else if (item.OrderStatusId == Guid.Parse("5C54C2DD-2FA5-4041-9B94-FB613BEBDFBC"))
                                        {
                                            <p>Giao hàng không thành công</p>
                                        }
                                        else if (item.OrderStatusId == Guid.Parse("6C54C2DD-2FA5-4041-9B94-FB613BEBDFBC"))
                                        {
                                            <p>Huỷ đơn</p>
                                        }
                                        else if (item.OrderStatusId == Guid.Parse("9C54C2DD-2FA5-4041-9B94-FB613BEBDFBC"))
                                        {
                                            <p>Chờ thanh toán</p>
                                        }

                                    </td>

                                    <td class="custom-history">
                                        <a class="primary-btn custom-history-details" href="@Url.Action("OrderDetails", "Order", new { idHoaDon = item.Id })">
                                            <i class='bx bx-detail bx-sm'></i>
                                        </a>
                                        @* đang được xử lý, chờ lấy hàng *@
                                        @if (item.OrderStatusId == Guid.Parse("1C54C2DD-2FA5-4041-9B94-FB613BEBDFBC") || item.OrderStatusId == Guid.Parse("2C54C2DD-2FA5-4041-9B94-FB613BEBDFBC"))
                                        {
                                            <a class="primary-btn custom-history-trash" onclick="Cancel('@item.Id', '@item.OrderStatusId')">
                                                <i class="bx bx-trash bx-sm"></i> Hủy
                                            </a>
                                        }
                                        @* đang giao *@
                                        else if (item.OrderStatusId == Guid.Parse("3C54C2DD-2FA5-4041-9B94-FB613BEBDFBC"))
                                        {
                                            <a class="primary-btn custom-history-trash" onclick="show();">
                                                <i class="bx bx-trash bx-sm"></i> Hủy
                                            </a>
                                        }
                                        @* huỷ đơn *@
                                        else if (item.OrderStatusId == Guid.Parse("6C54C2DD-2FA5-4041-9B94-FB613BEBDFBC"))
                                        {
                                            <a class="primary-btn custom-history-trash  custom-history-trash-disable" disabled="disabled">
                                                <i class="bx bx-trash bx-sm"></i>
                                            </a>
                                        }

                                        else if (item.OrderStatusId == Guid.Parse("9C54C2DD-2FA5-4041-9B94-FB613BEBDFBC")) // chờ thanh toán
                                        {
                                            <a class="primary-btn custom-history-trash">
                                                <i class="bx bx-trash bx-sm"></i>
                                            </a>
                                            <a class="primary-btn custom-history-trash  custom-history-trash-success" href="" onclick="continueCheckOut('@item.Id')">
                                                <i class="bx bx-dollar  bx-sm"></i>
                                            </a>


                                        }
                                        else
                                        {
                                            <a class="primary-btn custom-history-trash  custom-history-trash-success" disabled="disabled">
                                                <i class="bx bx-check bx-sm"></i>
                                            </a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 mt-3 p-3 pagin-history">
                <div class="shadow-sm">
                    <div class="pagin-left float-left font-weight-lighter mt-1">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    </div>
                    <div class="pagin-right float-right">
                        @Html.PagedListPager(Model, page => Url.Action("allOrder", new { page,status = ViewBag.status}))
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function show() {
        Swal.fire({
            icon: 'error',
            title: 'Đơn hàng đang được giao',
            text: 'Liên hệ với Admin: 0987654321'
        })
    }

    function Cancel(idHoaDon, idTrangThai) {
        Swal.fire({
            title: 'Bạn có chắc chắn muốn hủy đơn hàng?',
            text: 'Hành động này sẽ không thể hoàn tác!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                // Nếu người dùng chọn Yes, thì gọi controller
                $.ajax({
                    type: "POST",
                    url: "/Order/HuyDon",
                    data: {
                        idHoaDon: idHoaDon,
                        idTrangThai: idTrangThai
                    },
                    success: function (result) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Hủy thành công',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        setTimeout(function () {
                            location.reload();
                        }, 2000)
                    }
                });
            }
        });
    }

    function continueCheckOut(idhd) {
        $.ajax({
            url: '/Bill/ContinueCheckOut', // Thay ControllerName bằng tên controller thực tế
            type: 'POST',
            data: { idhd: idhd }, // Dữ liệu gửi đi, trong trường hợp này là idhd
            success: function (response) {
                // Xử lý dữ liệu trả về từ phương thức ContinueCheckOut
                console.log('Payment URL:', response);
                // Redirect tới trang thanh toán, hoặc làm gì đó với payment URL nếu cần thiết
                window.location.href = response;
            },
            error: function () {
                // Xử lý khi có lỗi xảy ra trong quá trình gửi yêu cầu AJAX
                console.error('Error calling ContinueCheckOut');
            }
        });
    }


</script>


