@model BanMoHinh.Share.ViewModels.ProductDetailVM
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
    List<string> imageExtensions = new List<string>()
    {
        ".png", ".jpg", ".jpeg", ".gif", ".tiff", ".pdf",".webp"
    };
    List<string> imagePaths = new();

    foreach (var path in ViewBag.ImagePath)
    {
        imagePaths.Add(path);
    }
}

<h1>Chi tiết</h1>

<div style="display:flex; align-items: center;">
    <div style="width:60%">
        <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Create_At)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Create_At)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Update_At)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Update_At)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.filecollection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.filecollection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    </div>
    <div style="width:40%">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">

                        @for (int i = 0; i < imagePaths.Count(); i++)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ? "active" : "") "></li>
                        }
                    </ol>
                    <div class="carousel-inner">
                        @for (int i = 0; i < imagePaths.Count(); i++)
                        {
                            <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                                <img class="d-block w-100" src="@(Configuration["BaseAddress"]+imagePaths[i])" >
                            </div>
                        }

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
    </div>
</div>
<div>
    @Html.ActionLink("Sửa", "Update", new {  id = Model.Id  }) |
    <a asp-action="Show">Quay lại</a>
</div>
