@model IEnumerable<BanMoHinh.Share.ViewModels.ProductDetailVM>

@{
    ViewData["Title"] = "Show";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}

<h4>Danh sách chi tiết sản phẩm</h4>
<div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
          <li class="breadcrumb-item active"><a asp-action="Show">Danh sách chi tiết sản phẩm</a></li>
        </ul>    
</div>
<p>
    <a asp-action="Create" class="btn btn-success m-1">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sản phẩm
            </th>
            <th>
               Size
            </th>
            <th>
                Màu
            </th>
            <th>
                Số lượng tồn
            </th>
            <th>
                Giá nhập
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Ngày cập nhật
            </th>
            <th>
                Trạng thái
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.SizeName)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.PriceSale)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Update_At)
            </td>
            <td >
                @if (item.Status == true)
                    {
                        <p>Còn hàng</p>
                    }
                    else
                    {
                        <p>Hết hàng</p>
                    }

            </td>
            <td >
                <a class="btn btn-primary btn-sm" type="button" href="Update/@item.Id" title="Sửa"><i class="fa fa-edit"></i></a>
                <a class="btn btn-warning btn-sm"  type="button" href="Details/@item.Id" title="Chi tiết"><i class="fas fa-info-circle"></i></a>
                <a class="btn btn-danger btn-sm " type="button" href="Remove/@item.Id" title="Xóa"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
