@model IEnumerable<BanMoHinh.Share.ViewModels.ProductDetailVM>

@{
    ViewData["Title"] = "Show";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}

<h1>Show</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sản phẩm
            </th>
            <th>
               Size
            </th>
            <th>
                Màu
            </th>
            <th>
                số lượng tồn
            </th>
            <th>
                Giá nhập
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Ngày nhập
            </th>
            <th>
                Ngày cập nhật
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Trạng thái
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Status == true)
                    {
                        <p>Còn hàng</p>
                    }
                    else
                    {
                        <p>Hết hàng</p>
                    }

            </td>
            <td>
                <a class="btn btn-primary btn-sm edit" type="button" href="Update/@item.Id" title="Sửa"><i class="fa fa-edit"></i></a>
                <a class="btn btn-primary btn-sm" style="color:cadetblue" type="button" href="Details/@item.Id" title="Chi tiết"><i class="fas fa-info-circle"></i></a>
                <a class="btn btn-primary btn-sm trash" type="button" href="Remove/@item.Id" title="Xóa"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
