@using BanMoHinh.Share.Models;
@model BanMoHinh.Share.Models.Product
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
    var proCategory = ViewData["productCategory"] as List<Category>;
    var proBrand = ViewData["productBrand"] as List<Brand>;
    var proMaterial = ViewData["productMaterial"] as List<Material>;
}
<div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
          <li class="breadcrumb-item active"><a asp-action="GetAllProduct">Danh sách sản phẩm</a></li>
          <li class="breadcrumb-item active"><a asp-action="Create">Thêm mới</a></li>
        </ul>    
</div>
<div class="row">
    <div class="container">
        <form asp-action="EditProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Danh mục</label>
                <select asp-for="CategoryId" class="form-control">
                    <option>--Chọn danh mục--</option>
                    @foreach (var type in proCategory)
                    {
                        <option value="@type.Id">@type.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Nhãn sản xuất</label>
                <select asp-for="BrandId" class="form-control">
                    <option>--Chọn nhãn sản xuất--</option>
                    @foreach (var type in proBrand)
                    {
                        <option value="@type.Id">@type.BrandName</option>
                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Chất liệu</label>
                <select asp-for="MaterialId" class="form-control">
                    <option>--Chọn chất liệu--</option>
                    @foreach (var type in proMaterial)
                    {
                        <option value="@type.Id">@type.MaterialName</option>
                    }
                </select>
                <span asp-validation-for="MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Tên sản phẩm</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Tổng số lượng</label>
                <input asp-for="AvailableQuantity" class="form-control" />
                <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ngày nhập</label>
                <input asp-for="Create_At" class="form-control" />
                <span asp-validation-for="Create_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Ngày cập nhật</label>
                <input asp-for="Update_At" class="form-control" />
                <span asp-validation-for="Update_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả chi tiết</label>
                <div class="form-group space-top" style="margin-top: 70px;">
                    <!-- (2): textarea sẽ được thay thế bởi CKEditor -->
                    <textarea asp-for="Long_Description" id="edit" name="edit" cols="200" rows="80"></textarea>

                    <!-- (3): Code Javascript thay thế textarea có id='editor1' bởi CKEditor -->
                    <script>

                        CKEDITOR.replace('edit');

                    </script>
                </div>
                <span asp-validation-for="Long_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Trạng thái</label>
                <select asp-for="Status" class="form-select">
                    <option value="true" selected>Đang hoạt động</option>
                    <option value="false">Ngưng hoạt động</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-success m-1" type="submit" >Cập nhật</button>
                <a class="btn btn-secondary" asp-action="GetAllProduct" >Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
