@using BanMoHinh.Share.Models;
@model IEnumerable<BanMoHinh.Share.Models.Product>

@{
    ViewData["Title"] = "GetAllProduct";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
    var proCategory = ViewData["productCategory"] as List<Category>;
    var proBrand = ViewData["productBrand"] as List<Brand>;
    var proMaterial = ViewData["productMaterial"] as List<Material>;
}

<h4>Danh sách sản phẩm</h4>
<div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
          <li class="breadcrumb-item active"><a asp-action="GetAllProduct">Danh sách sản phẩm</a></li>
        </ul>    
</div>
<p>
    <a asp-action="CreateProduct"  class="btn btn-success m-1">Thêm mới </a>
</p>
<table class="table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Thương hiệu
            </th>
            <th>
                Chất liệu
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng tồn
            </th>
            <th>
                Ngày nhập
            </th>
            @* <th>
                Ngày cập nhật
            </th> *@
            @* <th>
                Mô tả
            </th>
            <th>
                Mô tả chi tiết
            </th> *@
            <th>
                Trạng thái
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @foreach (var x in proCategory)
                    {
                        if (item.CategoryId == x.Id)
                        {
                            @Html.DisplayFor(modelItem => x.CategoryName)
                        }
                    }
                @* @Html.DisplayFor(modelItem => item.CategoryId) *@
            </td>
            <td>
                    @foreach (var x in proBrand)
                    {
                        if (item.BrandId == x.Id)
                        {
                            @Html.DisplayFor(modelItem => x.BrandName)
                        }
                    }
                @* @Html.DisplayFor(modelItem => item.BrandId) *@
            </td>
            <td>
                    @foreach (var x in proMaterial)
                    {
                        if (item.MaterialId == x.Id)
                        {
                            @Html.DisplayFor(modelItem => x.MaterialName)
                        }
                    }
                @* @Html.DisplayFor(modelItem => item.MaterialId) *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_At)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Update_At)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.Raw(item.Long_Description)
            </td> *@
            <td>
                @if (item.Status == true)
                    {
                        <p style="color:green">Còn hoạt động</p>
                    }
                    else
                    {
                        <p style="color:red">Ngưng hoạt động</p>
                    }
                </td>
            <td>
                @Html.ActionLink("Sửa", "EditProduct", new {  id=item.Id  }, new { @class = "btn btn-primary btn-sm" }) 
                @Html.ActionLink("Xoá", "DeleteProduct", new { id =item.Id }, new {@class="btn btn-danger btn-sm"})
            </td>
        </tr>
}
    </tbody>
</table>
