@model IEnumerable<BanMoHinh.Share.Models.Rank>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success" data-toggle="modal" data-target="#Create">Tạo Mới </a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointsMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoinsMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoinsMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditRank", new {  area="Admin", id=item.Id  }, new {@class="btn btn-primary btn-sm edit"}) |
                    @Html.ActionLink("Delete", "DeleteRank", new {  area="Admin", id=item.Id  }, new {@class="btn btn-primary btn-sm trash"})     
            </td>
        </tr>
}
    </tbody>
</table>
<!--
  MODAL
-->
<div class="modal fade" id="Create" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
     <form asp-action="CreateRank" method="post">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <span class="thong-tin-thanh-toan">
                                <h5>Tạo Xếp hạng mới</h5>
                            </span>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Nhập tên xếp hạng mới</label>
                            <input class="form-control" type="text" required name="rankName">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Nhập điểm nhỏ nhất</label>
                            <input class="form-control" type="text" required name="pointMin">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Nhập điểm lớn nhất</label>
                            <input class="form-control" type="text" required name="pointMax">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Mô tả chi tiết</label>
                            <input class="form-control" type="text" required name="description">
                        </div>

                    </div>
                    <BR>
                    <button class="btn btn-save" type="submit" >Lưu lại</button>
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                    <BR>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
     </form>
    
</div>
<!--
  MODAL
-->
